/* * {
  background-color: green;
  border: 1px solid black;
} */

/* * {
  border: 1px solid black;
  background-color: blue;
} */
body {
  font-family: "Roboto";
  /* background-color: black; */
}
/* 
a {
  text-decoration: none;
  color: black;
} */

h1,
h2,
h3 {
  font-family: Roboto, Georgia, "Times New Roman", Times, serif;
}

/* p > i > b */
p#p1 b {
  text-transform: uppercase;
  text-decoration: underline;
}
p {
  /* font-size: 12px; */
  /* font-size: 200%; */
  font-size: 1em;
  /* font-weight: light; */
  font-weight: 800;
  font-style: italic;
  text-transform: lowercase;
  /* text-transform: uppercase;
  text-transform: capitalize; */
}

p.white-text {
  color: white;
}

/* a {
  text-decoration: none;
  color: red;
} */

.light-text {
  color: gray;
}

#dark-text {
  color: red;
  /* line-height: 4em; */
  /* letter-spacing: 4em; */
  /* word-spacing: 4em; */
  /* text-align: right; */
  text-align: justify;
}

div > abbr {
  color: yellow;
}

div abbr {
  color: pink;
}

div > p {
  color: aqua;
}

/* pre+ol {
  color: blue;
} */

p ~ ol {
  color: magenta;
}
p {
  /* color: blueviolet; */
  /* color: rgb(255, 255, 255); */
  /* color: rgba(95, 23, 23,1); */
  /* color: hsl(0, 58%, 25%); */
  /* color: hsla(0, 58%, 25%,0.5); */
  color: #000;
  background-color: aqua;
}

p {
  /* font-size: 32px; */
  /* font-size: 200%; */
  /* font-size: 200em; */
  /* text-transform: uppercase; */
  text-transform: lowercase;
  /* text-transform: capitalize; */
}

p > span.lower-case {
  text-transform: uppercase;
}
p#new-txt::first-letter {
  text-transform: uppercase;
}

p#new-txt {
  text-align: justify;
  text-shadow: 1px 1px 6px yellow;
  text-transform: lowercase;
  text-indent: 2rem;
}

p#new-txt:hover {
  background-color: red;
}

a:visited {
  color: red;
}

a:link {
  color: green;
}

input:focus {
  outline: none;
  background-color: gray;
  transform: scale(1.1);
}

button:active {
  border-radius: 20px;
}
button:disabled {
  background-color: yellow;
}

/* ul.list-items > li:first-child {
  color: orange;
} */

ul.list-items > li:nth-child(2) {
  color: orange;
}

ul.list-items > li:nth-child(2) {
  color: orange;
}

ul.list-items > li:nth-last-child(2) {
  color: orange;
}

input[required] {
  border: red 1px solid;
}

input[type="password"] {
  border-radius: 2px;
}

input[class~="input"] {
  background-color: blue;
}

input[type^="t"] {
  background-color: yellow;
}
input[type*="ext"] {
  background-color: orange;
}

input[type$="xt"]{
  background-color: aqua;
}

.box {
background-color: pink;
}