div.parent {
  height: 250px;
  width: 250px;
  background: red;
  /* position: relative;*/
  top: 10px;
  left: 10px;
  bottom: 10px;
  position: absolute;
}

div.grand-parent {
  height: 450px;
  width: 450px;
  background: green;
  margin-left: 350px;
  /* position: absolute;
  left: 150px; */
}
div.grand-grand-parent {
  height: 650px;
  width: 650px;
  background: rgb(0, 19, 128);
  margin-left: 150px;
  position: static;
  left: 150px;
}

div.parent {
  background-color: antiquewhite;
  width: 650px;
  height: 650px;
  position: relative;
}

div.child {
  background-color: aqua;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 525px;
  left: 525px;
}

div.box {
  height: 500px;
  width: 500px;
  border: 1px solid;
}

div.box-1 {
  background-color: yellow;
  height: 600px;
  width: 600px;
  top: 0px;
  /* z-index: 4; */
  /* margin-left: 120px; */
  /* position: absolute; */
  position: sticky;
}
div.box-2 {
  background-color: blue;
  z-index: 3;
  position: relative;
  /* position: absolute; */
}

div.box-3 {
  background-color: green;
  height: 550px;
  width: 550px;
}
